<div class="main-aside">
    <!-- line -- logo -->
    <div class="logo-ctner tac">
        <a href="/">
            <span class="icon-logo"></span>
        </a>
    </div>
    <!-- line --- logo end -->
    <!-- 列表项 -->
    <ul class="tab-list">
        <li class="acount" ng-class="{active: stateModel.aside=='acount'}"><a href="/system/acount/pwd">账户管理</a></li>
        <li class="anthor" ng-class="{active: stateModel.aside=='author'}"><a href="/system/author">权限管理</a></li>
    </ul>

    <a href="" class="menu-btn"></a>
</div>
