<div class="main-aside">
    <!-- line -- logo -->
    <div class="logo-ctner tac">
        <a href="/">
            <span class="icon-logo"></span>
        </a>
    </div>
    <!-- line --- logo end -->
    <!-- 列表项 -->
    <ul class="tab-list">
        <li class="user" ng-class="{active: stateModel.aside=='user'}"><a href="/overview/user">用户数据分析<span class="badge">9</span></a></li>
        <li class="training" ng-class="{active: stateModel.aside=='training'}"><a href="/overview/training">培训数据分析<span class="badge">15</span></a></li>
        <li class="video" ng-class="{active: stateModel.aside=='video'}"><a href="/overview/video">视频学习数据分析<span class="badge">42</span></a></li>
    </ul>

    <a href="" class="menu-btn"></a>
</div>
