<header class="main-header clearfix">
    <div class="fl">
        <a ng-class="{active: stateModel.header=='overview'}" href="/overview">参培数据总览</a>
        <a ng-class="{active: stateModel.header=='training'}" href="/training">培训跟踪定制</a>
        <a ng-class="{active: stateModel.header=='customized'}" href="/customized">课程开发定制</a>
        <a ng-class="{active: stateModel.header=='system'}" href="/system/acount/pwd">系统管理</a>
    </div>

    <div class="u-info fr row-fluid show-grid">
        <!-- <div class="row"> -->
            <div class="text-center dropdown">
                <div class="username dropdown-toggle" data-toggle="dropdown">
                    <div class="head-ctner fl">
                        <div class="head-cover"></div>
                        <img src="img/demo/dou.jpg" alt="" />
                    </div>
                    Frank Li <i class="icon icon-down"></i>
                </div>
                <ul class="user-menu dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                        <a href="#">修改密码</a>
                    </li>

                    <li>
                        <a href="profile.html">帮助</a>
                    </li>
                    <li>
                        <a href="#">退出</a>
                    </li>
                </ul>
            </div>


        <!-- </div> -->
        
        <!-- <div>
            Frank Li
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div> -->
    </div>
</header>
