<div class="web-ctner">
    <div hr-aside my-type="sys"></div>
    <div hr-header></div>
    <div class="main-section">
        <div class="main-screen">
            <div class="w-wraper">
                <div class="border-section">
                    <h2 class="item-title"></h2>
                    <div class="i-wrapper">
                        <div class="clearfix">
                            <button class="pull-right btn normal">添加权限</button>
                        </div>

                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta consectetur sit dolores, totam id minus repudiandae reiciendis, qui, incidunt voluptate cumque mollitia recusandae fugiat a debitis in nobis, vitae accusamus.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <load-view src="views/module/footer.html"></load-view>
    </div>
</div>
