<link rel="stylesheet" type="text/css" href="css/style.css" />
<style type="text/css">
    *{ font-size: 14px; }
</style>
<load-view src="views/module/headTop.html"></load-view>
<load-view src="views/module/headMain.html"></load-view>
<load-view src="views/module/left.html"></load-view>
<div class="main">
    <div class="body_main_nav">
        <!-- 接受供应商邀约  弹框部分内容 -->
        <div style="width:900px;height:500px;">
            <div style="display:table;width:100%;">
                <div class="PTit40" style="display:table-row;">
                    <div style="display:table-cell;text-align:center;">
                        从属行业：
                        <input type="text" value="" class="input20" style="width:100px;"/>
                    </div>  
                    <div style="display:table-cell;text-align:center;">
                        所属区域：
                        <input type="text" value="" class="input20" style="width:100px;"/>
                    </div> 
                    <div style="display:table-cell;text-align:center;">
                        供应商编码：
                        <input type="text" value="" class="input20" style="width:100px;"/>
                    </div> 
                    <div style="display:table-cell;text-align:center;">
                        供应商简称：
                        <input type="text" value="" class="input20" style="width:100px;"/>
                    </div> 
                </div>
            </div>
            <div style="display:table;width:100%;font-size:14px;color:#606060;">
                <div style="display:table-row;background:rgba(112,98,216,0.1);height:36px;line-height:36px;">
                    <div style="display:table-cell;width:2%;">&nbsp;</div>
                    <div style="display:table-cell;width:16%;">供应商编码</div>
                    <div style="display:table-cell;width:16%;">供应商简称</div>
                    <div style="display:table-cell;width:22%;">供应商全称</div>
                    <div style="display:table-cell;width:12%;">联系人</div>
                    <div style="display:table-cell;width:16%;">联系人电话</div>
                    <div style="display:table-cell;width:16%;">联系人手机</div>
                </div>
                <div style="display:table-row;height:26px;line-height:26px;background:#fff;">
                    <div style="display:table-cell;">&nbsp;</div>
                    <div style="display:table-cell;">121234324</div>
                    <div style="display:table-cell;">广东华德五金</div>
                    <div style="display:table-cell;">广东省华德五金有限公司</div>
                    <div style="display:table-cell;">张三</div>
                    <div style="display:table-cell;">010-8365817</div>
                    <div style="display:table-cell;">18103435966</div>
                </div>
                <div style="display:table-row;height:26px;line-height:26px;background:#F5F5F5;">
                    <div style="display:table-cell;">&nbsp;</div>
                    <div style="display:table-cell;">121234324</div>
                    <div style="display:table-cell;">广东华德五金</div>
                    <div style="display:table-cell;">广东省华德五金有限公司</div>
                    <div style="display:table-cell;">张三</div>
                    <div style="display:table-cell;">010-8365817</div>
                    <div style="display:table-cell;">18103435966</div>
                </div>
            </div>
            <div class="tc mt30">
                <span>共39条</span>
                <span class="ml20">每页</span>
                <input type="text" value="" class="input20" style="width:50px;"/>
                <span>行</span>
                <span class="ml20">第1/29页</span>
                <span class="ml20">首页</span>
                <span class="ml10">上一页</span>
                <span class="ml10">下一页</span>
                <span class="ml10">尾页</span>
                <span class="ml20">转到</span>
                <input type="text" value="" class="input20" style="width:50px;"/>
                <span>页</span>
                <span class="btn btn-gray ml20">确定</span>
            </div>
        </div>
    </div>
</div>
<load-view src="views/module/bottom.html"></load-view>
