<style type="text/css">
    .main-section{ background-color: #7ca3da; }
    .error-ctner{ margin-left: 170px; margin-top: 70px; }
    .C404{ background: url(../img/icon/404.png) no-repeat left top; width: 45px; height: 100px; -webkit-background-size: 100% auto; background-size: 100% auto; }
    .error-ctner p{ font-size: 18px; color: #fff; margin-top: 5px; }
    .error-ctner .bold{ font-size: 25px; color: #fff; font-weight: bold; margin-top: 25px; }
    .error-ctner .has-button{ margin-top: 20px; }
    .icon-home{ display: inline-block; width: 1em; height: 1em; background: url(../img/icon/home.png) no-repeat center center; margin-top: 3px; margin-right: 1em; }
    .error-ctner .btn-primary{ background: transparent; text-shadow: none; box-shadow: none; font-size: 18px; color: #fff; border: 1px solid #fff; padding-left: 20px; padding-right: 20px; }
</style>
<div class="web-ctner">
    <div hr-aside my-type="error"></div>
    <div hr-header></div>
    <div class="main-section">
        <div class="error-ctner">
            <div class="C404"></div>
            <p class="bold">Error 404 - Page Not Found</p>
            <p>Sorry, The page you requested could not be foud.</p>
            <p class="has-button">
                <a href="./" class="btn btn-large btn-primary"><i class="icon-home"></i>Go to the homepage</a>
            </p>
        </div>
    </div>
</div>
