<style type="text/css">
	.pub-header{min-width: 1024px; height: 30px; line-height: 30px; color: #fff; background-color: #171C56; font-size: 12px;}
	.pub-header-cont{margin-left: 105px; margin-right: 65px;}
	.pub-header a,.pub-header a:hover{color: inherit;}
	.pub-header-cont>div.fl *{margin-left: 15px;}
	.pub-header-cont>div.fr *{margin-right: 23px;}
	.pub-header-cont>div *:first-child{margin-left: 0;}
	.pub-header-cont>div *:last-child{margin-right: 0;}

	.main-banner{height: 100px; line-height: 100px; text-align: center; background: #fff linear-gradient(to right, #0156b4, #00e5ff); color: #fff; font-size: 24px;}

	.state-channel{width: 770px; margin-left: auto; margin-right: auto; margin-top: 28px;}
	.state-channel .state-box{width: 115px; float: left; margin-left: 102px;}
	.state-channel .state-box:first-child{margin-left: 0;}
	.state-box div{height: 30px;}
	.state-box .state-info{background: url(img/icon/forgetpw/txgrxx.png) no-repeat center center;}
	.state-box .state-assign{background: url(img/icon/forgetpw/yzsf.png) no-repeat center center;}
	.state-box .state-pwd{background: url(img/icon/forgetpw/sdxmm.png) no-repeat center center;}
	.state-box .state-complete{background: url(img/icon/forgetpw/xgwc.png) no-repeat center center;}
	.state-box .text-center{color: #606060; margin-top: 4px;}

	.state-line{border-top: 1px solid #606060; height: 0; margin-top: 12px;}
	.state-line .state-box{height: 4px; background-color: #606060;}
</style>
<!-- the public header -->
<div class="pub-header">
	<div class="pub-header-cont">
		<div class="fl">
			<span>欢来到小智云平台</span>
			<a href="">登陆</a>
		</div>
		<div class="fr">
			<a href="">我的供应</a>
			<a href="">开放平台</a>
			<a href="">微信</a>
			<a href="">帮助中心</a>
			<a href="">服务热线：400 800 8888</a>
		</div>
	</div>
</div>
<!-- the public header end -->
<!-- the benner text show -->
<div class="main-banner">
	找回密码
</div>
<!-- the benner text show end -->
<!-- step cursor -->
<div class="state-channel">
	<div class="clearfix">
		<div class="state-box">
			<div class="state-info"></div>
			<p class="text-center">填写个人账号信息</p>
		</div>
		<div class="state-box">
			<div class="state-assign"></div>
			<p class="text-center">验证身份</p>
		</div>
		<div class="state-box">
			<div class="state-pwd"></div>
			<p class="text-center">设定新密码</p>
		</div>
		<div class="state-box">
			<div class="state-complete"></div>
			<p class="text-center">修改完成</p>
		</div>
	</div>

	<div class="state-line">
		<div class="state-box"></div>
		<div class="state-box"></div>
		<div class="state-box"></div>
		<div class="state-box" style="float: right;"></div>
	</div>

</div>

<!-- step cursor end -->
<load-view src="views/module/bottom.html"></load-view>