<div class="web-ctner">
    <div hr-aside my-type="cpsj"></div>
    <div hr-header></div>
    <div class="main-section">
        <div class="main-screen ov-training">

            <div class="overview-item">
                <switcher></switcher>
                <h2 class="item-title mgt20">项目总数据</h2>
                <ul class="item-list clearfix">
                    <li>
                        <div class="inner">
                            <i class="icon icon-user"></i>
                            <span class="text">
                                参培总人数
                                <span class="sym-total">488</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <i class="icon icon-train"></i>
                            <span class="text">
                                培训课程
                                <span class="sym-total">07</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <i class="icon icon-level"></i>
                            <span class="text">
                                培训级别数
                                <span class="sym-total">03</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <i class="icon icon-avaliable"></i>
                            <span class="text">
                                培训有效期
                                <span class="sym-total">02</span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="border-section light wrap">
                <h2 class="title-bar">昨日关键指标<i class="icon icon-help fr"></i></h2>
                <div class="row-fluid inner-wrap">
                    <div class="span3 item">
                        <h3 class="vel-label">已完成课程</h3>
                        <p class="vel-result">6</p>
                        <ul class="vel-trend">
                            <li>日
                                <span class="trend-data"><i class="icon icon-raise"></i>58%</span>
                            </li>
                            <li>周
                                <span class="trend-data"><i class="icon icon-raise"></i>100%</span>
                            </li>
                            <li>月
                                <span class="trend-data"><i class="icon icon-decline"></i>64.7%</span>
                            </li>
                        </ul>
                    </div>
                    <div class="span3 item">
                        <h3 class="vel-label">位完成课程</h3>
                        <p class="vel-result">0</p>
                        <ul class="vel-trend">
                            <li>日
                                <span class="trend-data">--</span>
                            </li>
                            <li>周
                                <span class="trend-data">--</span>
                            </li>
                            <li>月
                                <span class="trend-data">--</span>
                            </li>
                        </ul>
                    </div>
                    <div class="span3 item">
                        <h3 class="vel-label">参培人数</h3>
                        <p class="vel-result">6</p>
                        <ul class="vel-trend">
                            <li>日
                                <span class="trend-data"><i class="icon icon-raise"></i>58%</span>
                            </li>
                            <li>周
                                <span class="trend-data"><i class="icon icon-raise"></i>100%</span>
                            </li>
                            <li>月
                                <span class="trend-data"><i class="icon icon-decline"></i>64.7%</span>
                            </li>
                        </ul>
                    </div>
                    <div class="span3 item">
                        <h3 class="vel-label">累计完成总量</h3>
                        <p class="vel-result">421</p>
                        <ul class="vel-trend">
                            <li>日
                                <span class="trend-data"><i class="icon icon-raise"></i>58%</span>
                            </li>
                            <li>周
                                <span class="trend-data"><i class="icon icon-raise"></i>100%</span>
                            </li>
                            <li>月
                                <span class="trend-data"><i class="icon icon-decline"></i>64.7%</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="overview-item">
                <switcher></switcher>
                <div class="border-section mgt">
                    <h2 class="title-bar">
                        <select name="" id="">
                            <option value="0">最近30天</option>
                        </select>
                        <select name="" id="">
                            <option value="0">2016-03-09至2016-04-07</option>
                        </select>
                        <button class="fr btn btn-inverse">按时间对比</button>
                    </h2>
                    <p>
                        There is a Grid!
                    </p>
                </div>
            </div>

            <div class="overview-item">
                <switcher></switcher>
                <div class="border-section mgt">
                    <h2 class="title-bar">昨日关键指标<i class="icon icon-help fr"></i></h2>
                    <p>
                        There is a Grid!
                    </p>
                </div>
            </div>

        </div>

        <load-view src="views/module/footer.html"></load-view>
    </div>
</div>
