<div class="web-ctner">
    <div hr-aside my-type="pxgz"></div>
    <div hr-header></div>
    <div class="main-section">
        <div class="main-screen">

            <div class="overview-item">
                <div switcher options="mainData"></div>
                <h1 class="title-for-item">培训项目数据 <span class="little">截止：2016年5月13日12：55</span></h1>
                <h2 class="item-title">项目总数据</h2>
                <ul class="item-list clearfix">
                    <li>
                        <div class="inner">
                            <i class="icon icon-user"></i>
                            <span class="text">
                                参培人数
                                <span class="sym-total">488</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <i class="icon icon-train"></i>
                            <span class="text">
                                已完成课程数
                                <span class="sym-total">07</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <i class="icon icon-course"></i>
                            <span class="text">
                                已完成课时数
                                <span class="sym-total">03</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <i class="icon icon-avaliable"></i>
                            <span class="text">
                                剩余有效期
                                <span class="sym-total">02</span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="overview-item" style="margin-top: -0.45rem;">
                <h1 class="title-for-item">视频学习数据 <span class="little">截止：2016年5月13日12：55</span></h1>
                <h2 class="item-title">项目总数据</h2>
                <ul class="item-list clearfix">
                    <li>
                        <div class="inner">
                            <i class="icon icon-user"></i>
                            <span class="text">
                                约课人数
                                <span class="sym-total">488</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <i class="icon icon-date"></i>
                            <span class="text">
                                预约课程数
                                <span class="sym-total">07</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <i class="icon icon-cancle"></i>
                            <span class="text">
                                取消课程数
                                <span class="sym-total">03</span>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <i class="icon icon-complete"></i>
                            <span class="text">
                                课程完成率
                                <span class="sym-total">02</span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <load-view src="views/module/footer.html"></load-view>
    </div>
</div>
